:root {
  --color-black: #000000;
  --color-dark-blue: #1d2f42;
  --color-light-blue: rgb(42, 159, 194); //FIXME:
  --color-white: #ffffff;
  --color-grey-1: #f0f1f2;

  --color-box-shadow: rgba(0, 0, 0, 0.3);
}
