@import 'variables';

@mixin font($size: $font-middle, $weight: $font-weight-regular, $line-height: 1.5) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}
